/problema1/Terreno/nbproject/private/
/problema1/Ejecutor/nbproject/private/
/problema1/Ejecutor/build/
/problema2/Ejecutor/nbproject/private/
/problema2/Ejecutor/build/
/problema3/JavaApplication8Ejecutor/nbproject/private/
/problema3/JavaApplication8Ejecutor/build/
/problema4/DispositivosElectronicos/nbproject/private/
/problema4/DispositivosElectronicos/build/
